/* Colori vari
dark blue: #3a546d
darker blue: #2c3e50
aqua green: #1abc9c */

/* utils */
* {
    border: 2px dashed black;
}

/* header */
header {
    height: 80px;
}

/* section */
section {
    min-height: 500px;
}

form {
    min-height: 350px;
}

[class^="col"] {
    min-height: 50px;
}
