/* utils */
body > *{
    border: 2px dashed black;
}

/* header */
/* header {
    height: 80px;
} */

/* section */
section {
    min-height: 500px;
}

form {
    min-height: 350px;
}

[class^="col"] {
    min-height: 50px;
}


/* 
----------------------
Classi personalizzate 
---------------------- 
*/

.bg-dark-blue {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}


/* Form */
#contacts .form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-left: 0;
}

#contacts .form-control::placeholder {
    color: rgb(33, 37, 41);
}

#contacts .form-control:focus {
    box-shadow: none;
    border-color: rgb(33, 37, 41);
}